<app-nav></app-nav>
<div class="smooth-wrapper" >
  <div class="smooth-content" #smoothContent>

<app-hero-section></app-hero-section>
    <app-products-section></app-products-section>
<app-slider></app-slider>
    <app-more-products-section></app-more-products-section>
        <!--<app-cadre-produit></app-cadre-produit>-->
        <!--<app-inspiration-section></app-inspiration-section>-->
        <!--<app-produits></app-produits>-->
<!--        <app-scroll-cart></app-scroll-cart>-->

<!--       <app-product-detail></app-product-detail>-->
  </div>
</div>
<app-footer></app-footer >


