<section class="hero scroll-section">
  <h1>Pontaloants</h1>
  <p>Bienvenue dans la boutique de pantalons élégants</p>
  <div class="card-container">
    <div class="scroll-card" #card1>Style Moderne</div>
    <div class="scroll-card" #card2>Confort Assuré</div>
  </div>
</section>

<section class="about scroll-section">
  <h2 id="titre">À propos</h2>
  <div class="card-container">
    <div class="scroll-card" #card3>Durabilité</div>
    <div class="scroll-card" #card4>Qualité Supérieure</div>
  </div>
</section>

<section class="collection scroll-section">
  <h2  id="titr">Notre Collection</h2>
  <div class="card-container">
    <div class="scroll-card" #card5><img src="assets/pantalon1.png" alt="Pantalon 1"></div>
    <div class="scroll-card" #card6><img src="assets/pantalon2.png" alt="Pantalon 2"></div>
  </div>
</section>
